<css>
    .highcharts-point-hover {
  cursor: pointer;
}
</css>


<script>
$(function() {
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'pie'
        },
          legend: {
            enabled: true,
            floating: true,
            verticalAlign: 'bottom',
            align:'center',
        },
        plotOptions: {
            pie: {
                innerSize: '40%',
                point: {
                events: {
                    click: function(event) {
                       window.open(this.options.url);

                    }
                }
            },
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name} : </b>{point.y}<br> ',
                    distance: -50,
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 4
                    }
                }
            }
        },
        series: [{
                 data: [{
            y: 29.9,
            name: 'Firefox',
            url: 'http://bing.com/search?q=foo'
        }, {
            y: 29.9,
            name: 'Firefox',
            url: 'https://www.highcharts.com/demo/pie-donut'

}],
showInLegend: true
}]
    },

    function(chart) { // on complete
        var textX = chart.plotLeft + (chart.plotWidth  * 0.5);
        var textY = chart.plotTop  + (chart.plotHeight * 0.5);

        var span = '<span id="pieChartInfoText" style="position:absolute; text-align:center;">';
        span += '<span style="font-size: 16px">Total:</span><br>';
        span += '<span style="font-size: 32px">30</span>';
        span += '</span>';
        $("#addText").append(span);
        span = $('#pieChartInfoText');
        span.css('left', textX + (span.width() * -0.5));
        span.css('top', textY + (span.height() * -0.5));
        span.css( 'cursor', 'pointer' );

        link = document.createElement("a");
 link.setAttribute("href", "https://www.highcharts.com/demo/pie-donut");
  var textNode = document.createTextNode(txt);
 span.appendchild("<a href='https://www.highcharts.com/demo/pie-donut'>t</a>")

    });

});
</script>